{{- if .Values.cassandra.enabled -}}
apiVersion: cassandra.datastax.com/v1beta1
kind: CassandraDatacenter
metadata:
  name: {{ .Release.Name }}-dc1
  labels:
    {{- include "counter-app.labels" . | nindent 4 }}
spec:
  clusterName: {{ .Release.Name }}-development
  serverType: cassandra
  serverVersion: "4.0.1"
  managementApiAuth:
    insecure: {}
  size: 3
  storageConfig:
      cassandraDataVolumeClaimSpec:
        storageClassName: standard
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: {{ .Values.cassandra.persistence.size }}
  resources:
    requests:
      memory: 1Gi
      cpu: 1000m
{{- end }}