{{- if .Values.certManager.enabled -}}
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: {{ .Release.Name }}-cert-manager
  labels:
    {{- include "counter-app.labels" . | nindent 4 }}
spec:
  interval: 5m
  chart:
    spec:
      chart: cert-manager
      version: "^1.5.14"
      sourceRef:
        kind: HelmRepository
        name: jetstack
        namespace: flux-system # Replace with your Flux namespace if different
  releaseName: {{ .Release.Name }}-cert-manager
  targetNamespace: cert-manager
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
    installCRDs: true
    webhook:
      enabled: true
    cainjector:
      enabled: true
{{- end }}